# Local Netlify folder
.netlify
rag

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Virtual environments (commonly named .venv, venv, or env)
.venv/

# Mac files
.DS_Store

# Ignore .vscode config
.vscode/

# If you want to ignore all .mov files:
*.mov